Repository SWORDHealth/django-DefectDojo, pull requests merged in 2023-08, with the labels that each got.

#59 [feat] Redacts gitleaks secrets
  dojo/templates/issue-trackers/jira_full/jira-description.tpl
Labels: ui

#61 Revert "[feat] Redacts gitleaks secrets"
  dojo/templates/issue-trackers/jira_full/jira-description.tpl
Labels: ui

#63 Dev
  Dockerfile.django-debian
  Dockerfile.integration-tests-debian
  Dockerfile.nginx-alpine
  Dockerfile.nginx-debian
  docker-compose.yml
  requirements.txt
Labels: docker

#64 [feat] Redacts Gitleaks secrets from JIRA ticket
  dojo/models.py
  dojo/templates/issue-trackers/jira_full/jira-description.tpl
Labels: ui

#65 Syncs dev branch
  docker-compose.yml
  docs/package-lock.json
  docs/package.json
  dojo/settings/settings.dist.py
  dojo/tools/semgrep/parser.py
  dojo/urls.py
  helm/defectdojo/Chart.yaml
  helm/defectdojo/templates/django-service.yaml
  helm/defectdojo/values.yaml
  requirements.txt
  tests/false_positive_history_test.py
  unittests/scans/semgrep/semgrep_version_1_30_0_line_26.json
  unittests/scans/semgrep/semgrep_version_1_30_0_line_27.json
  unittests/tools/test_semgrep_parser.py
Labels: docs, docker, helm, unittests, integration_tests, settings_changes, parser

#72 Syncs dev
  Dockerfile.django-debian
  Dockerfile.integration-tests-debian
  Dockerfile.nginx-alpine
  Dockerfile.nginx-debian
  docker-compose.yml
  dojo/filters.py
  dojo/models.py
  requirements.txt
Labels: docker

#73 SO-1838-update-value-on-defect-dojo-configuration
  helm/defectdojo/values.yaml
Labels: helm

#74 revert-SO-1838-changes
  helm/defectdojo/values.yaml
Labels: helm
